{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <title>Bati-Interim</title>

        {% stylesheets '@BatiBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %} 
    </head>
    <body>
         {{ include("BatiBundle:Template:ConnectedMenuG.html.twig") }}
         {% if form is defined %}
             {{form(form)}}
         {% endif %}
        

        {% if lesArtisans is defined %}
            <table class='table table-bordered'>  
                {% for unArtisan in lesArtisans %}
                    <tr>
                        <td>{{unArtisan.id}}</td>
                        <td>{{unArtisan.nom}}</td>
                        <td>{{unArtisan.prenom}}</td>
                        

                        <td>
                            <form class ="formConnexion" action="{{ path('ModifierArtisan') }}" method="GET">
                                <input  type="submit"  class="btn btn-inverse" value="Modifier" />
                                <input type="hidden" name="idArtisan" value="{{unArtisan.id}}">                       
                            </form>
                        </td>

                        <td>
                            <form class ="formConnexion" action="{{ path('ConsulterConges') }}" method="GET">
                                <input  type="submit"  class="btn btn-inverse"  value="Consulter congés" />
                                <input type="hidden" name="idArtisan" value="{{unArtisan.id}}">                       
                            </form>
                        </td>
                        
                        <td>
                            <form class ="formConnexion" action="{{ path('SupprimerArtisan') }}" method="GET">
                                <input  type="submit"  class="btn btn-danger" value="Supprimer" />
                                <input type="hidden" name="idArtisan" value="{{unArtisan.id}}">                       
                            </form>
                        </td>



                    </tr>
                {% endfor %}
            </table>
        {% endif%}



        {#<div class="tableBoutons">
            <form  class ="formConnexion" action="{{ path('GestionArtisan') }}" method="post">
                <input type="submit" class="btn btn-default" value="Retour" />
            </form>
        </div>#}
    </body>
    
    <footer>
    {{ include("BatiBundle:Template:Footer.html.twig") }}
</footer>